extends /_layout/_global.pug

block title
  title Login | Redux DDD Sample Applications

block pageTitle
  | Login

block container
  div(data-react-login-app)

block append script
  script(src='/assets/javascripts/pageLogin.bundle.js')
