extends /_layout/_global.pug

block title
  title Order List | Redux DDD Sample Applications

block pageTitle
  | Order List

block container
  div(data-react-orderlist-app)

block append script
  script(src='/assets/javascripts/pageOrderList.bundle.js')
