extends /_layout/_global.pug

block title
  title Cart | Redux DDD Sample Applications

block pageTitle
  | Cart

block container
  div(data-react-cart-app)

block append script
  script(src='/assets/javascripts/pageCart.bundle.js')
