extends /_layout/_global.pug

block title
  title Products | Redux DDD Sample Applications

block pageTitle
  | Products

block container
  div(data-react-products-app)

block append script
  script(src='/assets/javascripts/pageProducts.bundle.js')
