doctype html
html(lang='ja')
  head
    title Products | Redux DDD Sample Applications
    meta(charset='UTF-8')
    meta(name='viewport')(content='width=device-width, initial-scale=1')
    link(rel='stylesheet')(href='/assets/styles/common.css')
  body
    h1.st-PageHeader.st-PageHeader_Title Products
    .layout-Container
      div(data-react-products-app)
    script(src='/assets/javascripts/vendor.bundle.js')
    script(src='/assets/javascripts/pageProducts.bundle.js')
