.crt-Container
  card()
  width 500px
  margin 0 auto

.crt-Box
  padding 24px

.crt-Item
  display flex
  align-items center
  padding 12px 0

.crt-Item_Thumb
  width 30%

.crt-Item_Data
  padding 12px
  width 70%

.crt-Item_Name
  color $black
  word-break break-all
  font-size 15px
  line-height 1.5

.crt-Item_Price
  margin-top 9px
  color $notice
  font-weight bold
  font-size 18px

.crt-PaymentNav_Button
  btn()