.login-Container
  card()

  display flex
  flex-wrap wrap
  justify-content center
  margin 0 auto
  width 500px

.login-Container_Inner
  padding 36px

.login-Form_Group
  display flex
  flex-wrap wrap
  justify-content space-between
  margin 0 0 15px

  > label
    display block
    margin 0 0 10px
    color $black
    text-transform uppercase
    letter-spacing .2em
    font-weight 500
    font-size 12px
    line-height 1

  > input
    display block
    box-sizing border-box
    padding 12px 20px
    width 100%
    outline 0
    border 0
    border-radius 4px
    background rgba(0, 0, 0, .1)
    color $black
    font-weight 500
    font-size inherit
    font-family inherit
    line-height inherit
    transition .3s ease

.login-Form_Error
  color $notice
  font-size 12px

.login-Form_Submmit
  margin-top 12px
  btn()