.login-Container
  card()

  display flex
  flex-wrap wrap
  justify-content center
  margin 0 auto
  width 500px

.login-Container_Inner
  padding 36px
  width 100%

.login-Form_Row
  formRow()

.login-Form_Group
  fromGroup()

.login-Form_Error
  error()

.login-Form_Submmit
  margin-top 12px

  btn('notice')

.login-Form_SignUp
  margin-top 12px
  color $notice
  text-align center
  font-size 12px