.prdct-Container
	display flex
	flex-wrap wrap
	justify-content center
	padding 12px

.prdct-Container_Thumb
	width 500px

.prdct-Container_Data
	margin-left 36px
	width 350px

.prdct-Details_Name
	padding-bottom 6px
	border-bottom solid 2px $black
	color $black
	word-break break-all
	font-weight bold
	font-size 24px
	line-height 1.5

.prdct-Details_Desc
	margin-top 12px
	color $black
	font-size 15px
	line-height 1.5

.prdct-Details_Price
	margin-top 12px
	color $notice
	font-weight bold
	font-size 18px

.prdct-Details_Stock
	margin-top 12px
	color $black
	font-weight bold
	font-size 15px

.prdct-Details_Button
	margin-top 12px
	width 100%
	color $black
	font-weight bold
	font-size 15px