.signup-Container
  card()

  display flex
  flex-wrap wrap
  justify-content center
  margin 0 auto
  width 500px

.signup-Container_Inner
  padding 36px

.signup-Form_Block
  &:not(:first-child)
    margin-top 24px

.signup-Form_Block_hdg
  font-size 21px
  font-weight bold
  color $notice
  margin-bottom 24px
  padding 6px 6px 6px 12px
  border-left solid 6px $notice

.signup-Form_Row
  display flex
  flex-wrap nowrap

  > *
    &:not(:first-child)
      margin-left 12px

.signup-Form_Group
  display flex
  flex-wrap wrap
  justify-content space-between
  margin 0 0 15px
  width 100%

  > label
    display block
    margin 0 0 10px
    color $black
    text-transform uppercase
    letter-spacing .2em
    font-weight 500
    font-size 12px
    line-height 1

  > input
    display block
    box-sizing border-box
    padding 12px 20px
    width 100%
    outline 0
    border 0
    border-radius 4px
    background rgba(0, 0, 0, .1)
    color $black
    font-weight 500
    font-size inherit
    font-family inherit
    line-height inherit
    transition .3s ease

.signup-Form_Error
  color $notice
  font-size 12px

.signup-Form_Submmit
  margin-top 12px
  btn()

.signup-Form_SignUp
  font-size 12px
  color $notice
  text-align center
  margin-top 12px