.signup-Container
  card()

  display flex
  flex-wrap wrap
  justify-content center
  margin 0 auto
  width 500px

.signup-Container_Inner
  padding 36px

.signup-Form_Block
  &:not(:first-child)
    margin-top 24px

.signup-Form_Block_hdg
  font-size 21px
  font-weight bold
  color $notice
  margin-bottom 24px
  padding 6px 6px 6px 12px
  border-left solid 6px $notice

.signup-Form_Row
  formRow()

.signup-Form_Group
  fromGroup()

.signup-Form_Error
  error()

.signup-Form_Submmit
  margin-top 12px

  btn('notice')

.signup-Form_SignUp
  font-size 12px
  color $notice
  text-align center
  margin-top 12px