btn()
  width 100%
  outline 0
  border 0
  border-radius 4px
  background $notice
  padding 12px 20px
  color $white
  text-transform uppercase
  font-weight 500
  font-size inherit
  font-family inherit
  line-height inherit
  cursor pointer