doctype html
html(lang='ja')
  head
    block title
    meta(charset='UTF-8')
    meta(name='viewport')(content='width=device-width, initial-scale=1')
    link(href='https://fonts.googleapis.com/css?family=Amaranth')(rel='stylesheet')
    link(rel='stylesheet')(href='/assets/styles/common.css')

  body
    block body
      .layout-Wrapper
        header
          .st-AppHeader
            h1.st-AppHeader_Title Redux DDD Shopping Cart Applications
          div(data-react-header-app)
          .st-PageHeader
            h2.st-PageHeader_Title
              block pageTitle
        .layout-Container
          block container

    block script
      script(src='/assets/javascripts/vendor.bundle.js')
