extends /_layout/_global.pug

block title
  title Sign up | Redux DDD Sample Applications

block pageTitle
  | Sign up

block container
  div(data-react-signup-app)

block append script
  script(src='/assets/javascripts/pageSignup.bundle.js')
