extends /_layout/_global.pug

block title
  title Payment | Redux DDD Sample Applications

block pageTitle
  | Payment

block container
  div(data-react-payment-app)

block append script
  script(src='/assets/javascripts/pagePayment.bundle.js')
